<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <title>
    {% if page.title %}{{ page.title }} &middot; {% endif %}
    {{ site.tagline }}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="//csv-converter/css/hyde.css">
  <link rel="stylesheet" href="//csv-converter/css/syntax.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700|Abril+Fatface">

  	<!-- Icons -->
  	<link rel="shortcut icon" type="image/x-icon" href="http://apievangelist.com/favicon.ico">
	<link rel="icon" type="image/x-icon" href="http://apievangelist.com/favicon.ico">

  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="https://s3.amazonaws.com/kinlane-productions/js/mustache.js" type="text/javascript"></script>

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/csv-converter/blog.xml">

  <!--<link rel="stylesheet" href="/csv-converter/css/converter.css" type="text/css" media="screen" title="no title" charset="utf-8">-->

  <script src="/csv-converter/js/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/csv-converter/js/CSVParser.js" type="text/javascript" charset="utf-8"></script>
  <script src="/csv-converter/js/DataGridRenderer.js" type="text/javascript" charset="utf-8"></script>
  <script src="/csv-converter/js/converter.js" type="text/javascript" charset="utf-8"></script>
  <script src="/csv-converter/js/Controller.js" type="text/javascript" charset="utf-8"></script>
  <script src="/csv-converter/js/upload.js" type="text/javascript" charset="utf-8"></script>

  <script src="/csv-converter/js/base64.js" type="text/javascript" charset="utf-8"></script>
  <script src="/csv-converter/js/underscore-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/csv-converter/js/oauth.js" type="text/javascript" charset="utf-8"></script>
  <script src="/csv-converter/js/github.js" type="text/javascript" charset="utf-8"></script>
  <script src="/csv-converter/js/utilities.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/javascript" charset="utf-8">

    function authenticated()
        {
        $oAuth_Token = getUrlVar('oAuth_Token');
        if($oAuth_Token!='')
            {
            document.getElementById('oAuth_Token').value = $oAuth_Token;
            document.getElementById("login").style.display = 'none';
            }
        else
            {
            document.getElementById("save").style.display = 'none';
            document.getElementById("login").style.display = '';
            }
        }

    function saveConversion()
        {

        var github = new Github({
            token: $oAuth_Token,
            auth: "oauth"
                });

        $UploadCSVName = "";
        $UploadJSONName = "";
        $UploadXMLName = "";

        $UploadFileName = document.getElementById("uploadfilename").value;
        $UploadCSVName = $UploadFileName;
        $DataSelector = document.getElementById("dataSelector").value;

        //alert($DataSelector);
        if($DataSelector=="xml") {
          $UploadXMLName = $UploadFileName.replace(".csv",".xml");
        }

        if($DataSelector=="json") {
          $UploadJSONName = $UploadFileName.replace(".csv",".json");
        }

        $CSVOutput = document.getElementById("dataInput").value;
        $DataOutput = document.getElementById("dataOutput").value;

        var repo = github.getRepo('kinlane', 'csv-converter');
        repo.write('master',$UploadCSVName, $CSVOutput, 'Saving CSV Input for ' + $UploadCSVName, function(err) {

        });

        if($UploadJSONName!=''){
            alert($UploadJSONName + ' has been saved to master branch in this Github repo');
            repo.write('master',$UploadJSONName, $DataOutput, 'Saving JSON Input for ' + $UploadJSONName, function(err) {});
            }
        if($UploadXMLName!=''){
            alert($UploadXMLName + ' has been saved to master branch in this Github repo');
            repo.write('master',$UploadXMLName, $DataOutput, 'Saving XML Input for ' + $UploadXMLName, function(err) {});}
        }

    </script>

</head>
