<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    <script type="text/javascript">
      var $oAuth_Token = getUrlVar('oAuth_Token');
      var $org = '{{ site.org }}';
      var $repo = '{{ site.repo }}';
      var $oauthio = '{{ site.oauthio }}';
    </script>
    <header class="masthead">
      <div class="masthead-inner" align="center">
		<h2><a href="http://kinlane.github.io/csv-converter/">{"CSV Converter"}</a></h2>
    	<a href="http://bit.ly/1cHBhd5" target="_blank">
    		<img src="https://s3.amazonaws.com/kinlane-productions/api-evangelist/3scale/Winning-in-the-API-Economy-eBook-3scale.png" width="45%" style="border: 1px solid #FFF; margin-bottom: 25px;" />
    	</a>
        <div class="colophon">
          <ul class="colophon-links">
            <li>
              <a href="/csv-converter/index.html" id="home-nav">Home</a>
            </li>
            <li>
              <a href="/csv-converter/blog/" id="blog-nav">Blog</a> <span style="font-size: 12px;">(<a href="/blog.xml">RSS</a>)</span>
            </li>
            <li>
              <a href="/csv-converter/converter.html" id="converter-nav">Converter</a></span>
            </li>
            <li style="padding-top: 10px;">
              <a href="http://apievangelist.com"><< Return to API Evangelist</a>
            </li>
          </ul>
        </div>
        <script id="parterListingTemplate" type="text/template">
            {% raw  %}
            <a href="{{url}}" target="_blank" title="{{title}}">
           		<img src="{{logo}}" width="{{width}}" style="padding: 2px;" />
            </a>
            {% endraw %}
        </script>

        <script type="text/javascript">
        function listSponsors()
            {
            $.getJSON('https://s3.amazonaws.com/kinlane-productions/json/sponsors.json', function(data) {
                $.each(data['sponsors'], function(key, val) {
                var template = $('#parterListingTemplate').html();
                var html = Mustache.to_html(template, val);
                $('#partnerListingContainer').append(html);
                });
            });
        }
        </script>

        <div id="partnerListingContainer" align="center" style="background-color:#FFF; margin-top: 45px; padding-top: 10px; width: 60%; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 3px solid #FFFFFF; margin-bottom: 7px;">

		</div>

        <script type="text/javascript">
            listSponsors();
        </script>

      </div>
    </header>

    <div class="content container">

      <p align="center">
      	<a href="http://kinlane.github.io/csv-converter/">
      		<img src="https://s3.amazonaws.com/kinlane-productions/api-evangelist/api-evangelist-csv-converter.png" align="center" width="50%" style="padding-bottom: 10px;" />
      	</a>
      </p>

      {{ content }}

  		<br /><br />
  		<!-- 3scale -->
  		<p align="center">
  		<a href="http://3scale.net" target="_blank" title="APIs From 3Scale">
  		    <img src="https://s3.amazonaws.com/kinlane-productions/api-service-providers/3Scale/empowered-by-3scale.png" width="300" style="padding-bottom: 15px;" />
  		</a>
  		</p>
  		<!-- 3scale -->

	     <div class="footer">
		    <ul>
		    	<li><a href="/">Home</a></li>
		    	<li><a href="/blog/">News</a></li>
		    	<li><a href="/network">Network</a></li>
		    	<li><a href="http://kinlane.com/about/">About</a></li>
		    	<li><a href="http://apisjson.org">APIs.json</a></li>
		    	<li><a href="/branding-guidelines.html">Branding Guidelines</a></li>
		    	<li><a href="http://kinlane.com/contact/">Contact</a></li>
		    </ul>
		</div>

    </div>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-1119465-51']);
	  _gaq.push(['_setDomainName', 'apievangelist.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	  function checkLinkRot()
	    {
	    var linkArray = [];
	    var links = document.getElementsByTagName("a");
	    for(var i=0; i<links.length; i++) {
	        linkArray.push(links[i].href);
	    }
	    url = "http://linkrot.api.laneworks.net/v1/links/";
	    var myJsonString = JSON.stringify(linkArray);
	    $.ajax({
	        type: "POST",
	        url: url,
	        data: myJsonString,
	        success: function (data) {
	             $.each(data, function($Key,$Value) {
	                $URL = $Value['URL'];
	                $returnURL = $Value['returnURL'];
	                var links = document.getElementsByTagName("a");
	                for(var i=0; i<links.length; i++) {
	                    if(links[i].href==$URL)
	                        {
	                        document.getElementsByTagName("a")[i].href=$returnURL;
	                        }
	                     }
	             });
	        }
	    });
	    }

	</script>

	<!-- Google Code for API Evangelist visitors -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 964245031;
	var google_conversion_label = "U2foCJGT0wkQp-zkywM";
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/964245031/?value=1.000000&amp;label=U2foCJGT0wkQp-zkywM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>

  </body>
</html>
