<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <header class="masthead">
      <div class="masthead-inner" align="center">

        <!-- Masthead Title -->
        <h2><a href="{{ site.masthead_link }}" style="font-size: {{ site.masthead_font_size }}%;">{{ site.masthead_title }}</a></h2>

        <!-- Feature -->
        <a href="{{ site.feature_link }}" target="_blank" id="feature_project_link">
          <img id="feature_project_image" src="{{ site.feature_image_source }}" width="{{ site.feature_image_width }}%" style="border: 1px solid #FFF;" title="{{ site.feature_title }}" />
        </a>

        <div class="colophon">
          <ul class="colophon-links">
            {% for nav in site.navigation %}
            <li style="padding-top:{{ nav.padding }}px">
              <a href="{{ nav.link1 }}" style="font-size: {{ nav.size1 }}%;">
                {% if nav.decorate == 1 %} <span style="font-size: {{ nav.size1 }}">&#8668;</span>{% endif %}
                {{ nav.label1 }}
              </a>
              {% if nav.extend == 1 %} <span style="font-size: {{ nav.size2 }}%;">(<a href="{{ nav.link2 }}">{{ nav.label2 }}</a>)</span>{% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>

        <!-- Sponsorship -->
        <script id="parterListingTemplate" type="text/template">
            {% raw  %}
            <a href="{{url}}" target="_blank" title="{{title}}">
           		<img src="{{logo}}" width="{{width}}" style="padding: 2px;" />
            </a>
            {% endraw %}
        </script>
        <div id="partnerListingContainer" align="center" style="background-color:#FFF; margin-top: {{ site.sponsors_margin_top }}px; padding: 15px; width: 50%; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 3px solid #FFFFFF; margin-bottom: 2px;"></div>
        <!-- Sponsorship -->

      </div>
    </header>

    <div class="content container">

      <!-- Banner -->
      <p align='center'><a href="{{ site.url }}" target="_blank" id="banner_project_link"><img id="banner_project_image" src="{{ site.banner_image_source }}" width="{{ site.banner_image_width }}%" title="{{ site.banner_title }}" class="banner" /></a></p>

      {{ content }}

      <center><hr style="padding: 5px 5px 5px 5px; margin: 5px; width: 85%;" /></center>
  		<!-- 3scale -->
  		<p align="center">
    		<a href="http://apis.how/ake3nxbapm" target="_blank" title="API Infrastructure From 3Scale">
    		    <img src="https://s3.amazonaws.com/kinlane-productions/api-service-providers/3Scale/empowered-by-3scale.png" width="300" style="" />
    		</a>
  		</p>
  		<!-- 3scale -->

      <div class="footer">
        <ul>
          {% for nav in site.footernavigation %}
            <li><a href="{{ nav.link }}">{{ nav.label }}</a></li>
          </li>
          {% endfor %}
        </ul>
      </div>

  </div>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-1119465-51']);
	  _gaq.push(['_setDomainName', 'apievangelist.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

	<!-- Google Code for API Evangelist visitors -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 964245031;
	var google_conversion_label = "U2foCJGT0wkQp-zkywM";
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	   <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/964245031/?value=1.000000&amp;label=U2foCJGT0wkQp-zkywM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>

  <script type="text/javascript">

    // project view log
  	$url = "http://project.api.kinlane.com/project/view/";
  	$vlog = $.post($url, function() {});

    // Feature Projects
    function featureProjects()
        {
        $get_feature_project_url = "http://project.api.kinlane.com/project/feature/";

        $.ajax({
          url: $get_feature_project_url,
          type:"GET",
          success:function(data) {

              $feature_title = data['feature_title'];
              $feature_image = data['feature_image'];
              $feature_url = data['feature_url'];
              $("#feature_project_link").attr("href", $feature_url);
              $("#feature_project_image").attr("src", $feature_image);
              $("#feature_project_image").attr("title", $feature_title);
            }
          });
        }
    featureProjects();

    // Banner Projects
    function bannerProjects()
        {
        $get_banner_project_url = "http://project.api.kinlane.com/project/banner/";

        $.ajax({
          url: $get_banner_project_url,
          type:"GET",
          success:function(data) {
              console.log(data);
              $banner_title = data['banner_title'];
              $banner_image = data['banner_image'];
              $banner_url = data['banner_url'];

                  console.log($banner_url);

              $("#banner_project_link").attr("href", $banner_url);
              $("#banner_project_image").attr("src", $banner_image);
              $("#banner_project_image").attr("title", $banner_title);
            }
          });
        }
    bannerProjects();

    // Sponsors
    function listSponsors(){
        $.getJSON('{{ site.sponsors_json_url }}', function(data) {
            $.each(data['sponsors'], function(key, val) {
            var template = $('#parterListingTemplate').html();
            var html = Mustache.to_html(template, val);
            $('#partnerListingContainer').append(html);
            });
        });
      }

    listSponsors();

  </script>

  <script src="https://s3.amazonaws.com/kinlane-productions/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
