---
layout: default
---

<div class="post">
  <h1>{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<!-- 3scale -->
<p align="center">
    <a href="http://bit.ly/13esk6Q" target="_blank" title="Empowered By 3Scale">
        <img src="https://s3.amazonaws.com/kinlane-productions/api-service-providers/3Scale/empowered-by-3scale.png" width="45%" style="padding-bottom: 15px;" />
    </a>        
</p>  

<table cellpadding="5" cellspacing="5" align="center" border="0" style="border-bottom: 0px; padding-bottom: 10px;">
	<tr>
		<td align="center">
			<a href="http://twitter.com/home?status={{ page.title }} - {{ site.production_url }}{{ page.url }} via @apievangelist" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/twitter.png" width="25" /></a>				
		</td>
		<td align="center">
			<a href="http://www.facebook.com/share.php?u={{ site.production_url }}{{ page.url }}&title={{ site.production_url }}{{ page.title }}" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/facebook.png" width="25" /></a>
		</td>
		<td align="center">
			<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.production_url }}{{ page.url }}&title={{ page.title }}&source=api.report" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/linkedin.png" width="25" /></a>				
		</td>
		<td align="center">
			<a href="https://plus.google.com/share?url={{ site.production_url }}{{ page.url }}" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/google-plus.png" width="25" /></a>				
		</td>	
		<td align="center">
			<a href="http://www.tumblr.com/share?v=3&u={{ site.production_url }}{{ page.url }}&t={{ site.production_url }}{{ page.title }}" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/tumblr.png" width="25" /></a>				
		</td>
		<td align="center">
			<a href="http://www.reddit.com/submit?url={{ site.production_url }}{{ page.url }}&title={{ site.production_url }}{{ page.title }}" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/reddit.png" width="25" /></a>				
		</td>
		<td align="center">
			<a href="http://news.ycombinator.com/submitlink?u={{ site.production_url }}{{ page.url }}&t={{ site.production_url }}{{ page.title }}" target="_bank"><img src="https://s3.amazonaws.com/kinlane-productions/icons/hackernews.jpeg" width="25" /></a>				
		</td>															
	</tr>
</table>

<!-- Pagination links -->
<div class="pagination">
	{% if page.previous %}
	   	<a href="{{ site.production_url }}{{ page.previous.url }}" class="older">Older</a>
	{% else %}
		<a href="/" class="older">Older</a>
	{% endif %}
	  {% if page.next %}
	    <a href="{{ site.production_url }}{{ page.next.url }}" class="newer">Newer</a>
	  {% else %}
	    <span class="next">Newer</span>
	  {% endif %}	
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="/{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
