<!DOCTYPE html>
<html>
<head>
<link rel="canonical" href="{{ page.source }}"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="0;url={{ page.source }}" />
</head>
<body>
    <br /><br />
    <p align="center"><img src="http://kinlane-productions.s3.amazonaws.com/api-evangelist/api-evangelist-logo-400.png" align="center" width="400" /></p>
    <br /><br />
    <center>
    <p><strong>Redirecting...</strong></p>
      <a href="{{ page.source }}">Click here if you are not redirected.<a>
      <script>location='{{ page.source }}'</script>
    </center>
</body>
</html>
